@import "tailwindcss";

body {
  overflow: hidden;
  height:955px;
}
 .thin-scrollbar::-webkit-scrollbar {
          width: 6px; 
        }
        .thin-scrollbar::-webkit-scrollbar-track {
          background: transparent;
        }
        .thin-scrollbar::-webkit-scrollbar-thumb {
          background-color: #cbd5e1;
          border-radius: 20px;
          border: 2px solid transparent;
          background-clip: content-box;
        }
        .thin-scrollbar::-webkit-scrollbar-thumb:hover {
          background-color: #94a3b8; 
        }
       
        .thin-scrollbar {
          scrollbar-width: thin;
          scrollbar-color: #cbd5e1 transparent;
        }